{% extends 'gestion/base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container mt-5">
        <h2>Agregar Empleados</h2>

        <!-- Formulario de Registro de Empleados -->
        <form id="registroEmpleadoForm" action="empleados_add" method="POST">
            {% csrf_token %}
            <div class="card mx-auto" style="width: 30rem;">
                <div class="card-body">
                  <h5 class="card-title">Complete todos los campos</h5>
                  {{ form | crispy }}
                  <button type="submit" class="btn btn-primary">Registrar Empleado</button>
                  <button type="reset" class="btn btn-primary">Eliminar</button>
                </div>
                <a class="btn btn-primary" href="{% url 'empleados_list' %}"> Volver al inicio </a>
            </div>
        </form>
        <div id="idMensajes">
            {% if mensaje %}
            {{mensaje}}
            {% endif %}
        </div>
    </div>
{% endblock %}

<!--Explicación de la Plantilla
Formulario de Registro de Empleados:

Contiene campos para ingresar el nombre, RUT, cargo y sucursal del empleado.
El campo "Cargo" utiliza un select con opciones predefinidas.
El campo "Sucursal" también utiliza un select, que debe ser poblado dinámicamente desde la base de datos.
Listado de Empleados:

Una tabla para mostrar la lista de empleados con columnas para ID, nombre, RUT, cargo, sucursal y acciones.
Los botones "Editar" y "Eliminar" permitirán gestionar cada empleado. Estos deben conectarse a la lógica correspondiente para manejar estas acciones.
Conexión a Bootstrap:

La plantilla incluye enlaces a Bootstrap para estilizar los componentes.
Incluye jQuery y Popper.js necesarios para las funcionalidades de Bootstrap.
Esta plantilla proporciona una base sólida para la gestión de empleados en la plataforma MasterBikes. Puedes adaptarla según las necesidades específicas 
de tu aplicación, especialmente la parte de la carga dinámica de datos desde la base de datos. -->