{% extends 'gestion/base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <h2>Gestión de Inventario</h2>
        <div class="form-group">
            <label for="tipoProducto">Filtrar por Tipo de Producto</label>
            <select class="form-control" id="tipoProducto">
                <option value="">Todos</option>
                <option value="Bicicletas">Bicicletas</option>
                <option value="Accesorios">Accesorios</option>
                <option value="Partes">Partes</option>
                <option value="Arriendos">Arriendos</option>
            </select>
        </div>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Nombre del Producto</th>
                    <th>Tipo de Producto</th>
                    <th>Cantidad en Bodega</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                    <tr data-tipo="{{producto.id_categoria.nombre_categoria}}">
                        <td>{{producto.nombre_prod}}</td>
                        <td>{{producto.id_categoria.nombre_categoria}}</td>
                        <td>{{producto.stock_actual}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
