{% extends 'gestion/base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <h2>Gestión Perfiles</h2>
        <form onsubmit="return validarPerfil()">
            <div class="form-group">
                <label for="idPerfil">ID Perfil</label>
                <input type="text" class="form-control" id="idPerfil" required>
            </div>
            <div class="form-group">
                <label for="nombrePerfil">Nombre Perfil</label>
                <input type="text" class="form-control" id="nombrePerfil" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
{% endblock %}
